.main-div {
    left: 312px !important;
    position: relative;
    width: calc(100% - 312px);
    height:  calc(100vh - 84px);
  
}

.layout-container{
    background-color: rgba(191, 255, 234, 0.2);
    
}